/Stack/target/
/StackFloat/target/
/Stack/Recursion/Exercise1/target/
/Stack/Recursion/Exercise2/target/
/Stack/Recursion/Exercise4/target/
/Stack/Recursion/Exercise5/target/
/Queue/CircularQueue/Exercise2/target/
/Queue/CircularQueue/Exercise3/target/
